/*
READ ME IMPORTANT: 
* the constrains are now done by Mohamed Elharery
** the current stylesheet will be constructed by using media queries to make phone style
*** the work will start after the images and videos are sent
**** Ahmed has the ability to start in his work early if he is free
***** No frameworks are allowed in this code because it will be built manually
****** All classes and trails to edit on the UI will be made on pen and be sent to me to review the suggestion

the website is constructed and built by STEM Obour MUN IT committee under supervision of Mohamed Elharery head of IT committee
copyrights of work, consturction, and designing have been recieved at 2022

*/


/*start global constrains*/

:root {
  --standard-color: #c3951d;
  --text-color: #B5B1B1;
  --tiwtter-color: #006DFF;
  --instagram-color: #FFA000;
  --linkedIn-color: #2E52E4;
  --facebook-color: #1736FF;
  --font-size: 20px;
  --heading-size: 50px;
  --transition-duration: 0.2s;
}

ul {
  list-style: none
}

a {
  text-decoration: none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*end global constrains*/



/* start navbar */
nav {
  background: var(--standard-color);
}

body {
  padding-top: 70px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}

.nav-toggle {
  display: none;
}

.nav-links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links li {
  margin-inline: 1vw;
}

.nav-links li a {
  font-size: 20px;
  color: var(--text-color);
  text-transform: capitalize;
}

.nav-links li:hover a {
  color: #ffffff;
}

h1 {
  height: 90vh;
  background: red;
  margin: 0;
  padding-top: calc(45vh - 50px);
  color: var(--text-color);
  padding-inline: 3vw;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 800;
}
h1 span {
  text-transform: uppercase;
}

/* Style at mobiles' screens */

@media (max-width: 768px) {
  .nav .head .logo img {
    width: 100px;
  }

  .head {
    width: 100%;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    color: var(--text-color);
    font-size: 2rem;
    z-index: 3;
  }

  .nav-links {
    position: fixed;
    background: var(--standard-color);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px);
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
    margin-block: 3vh;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 1.2s;
  }

  li.fade {
    opacity: 1;
  }
  
  h1 {
    text-align: center;
  }
}

/* end navbar */
